/*
For BG - 2E2E48
second BG - 38365D
gradient sample 1 - 453CB0
gradient sample 2 - 2D2D47
color 1 - 746AEA
color 2 - C95DF7
color 3 - FE756F
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}


.main{
    width: 100%;
    height: 100vh;
}

.main > .inner-main{
    width: 100%;
    height: 100%;
    position: relative;
}

.inner-main > .left-side-bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    /* background-color: #ccc; */
    overflow: hidden;
    transition: 0.5s all ease;
}

.left-side-bar > .inner-left-side-bar{
     width: 60px;
     height: calc(100% - 50px);
     background-color: #2E2E48;
     margin-left: 20px;
     margin-top: 25px;
     border-radius: 15px;
     box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
     position: relative;
     transition: ease-in 0.5s;
}

.inner-left-side-bar > .side-left-side-bar{
    width: 100%;
    height: 100%;
}

.side-left-side-bar > .top-left-side-bar{
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #1e1e48;
}

.top-left-side-bar > a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-left-side-bar > a > img{
    width: 35px;
}

.side-left-side-bar > .body-left-side-bar{
    width: 100%;
    height: calc(100% - 135px);
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.body-left-side-bar::-webkit-scrollbar {
    display: none;
}

.side-left-side-bar > .bottom-left-side-bar{
    width: 100%;
    height: 65px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-left-side-bar > a{
    text-decoration: none;
    color: #2E2E48;
    background: #fff;
    padding: 5px 10px;
    border-radius: 8px;
}


.body-left-side-bar > .menu-short{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.menu-short > .btn_short_menu{
    background-color: #746AEA;
    border: none;
    width: 40px;
    padding: 5px 0;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    color: #fff;
}

.btn_short_menu.active_menu_short{
    background-color: #fff !important;
    color: #1e1e48;
}


.inner-left-side-bar > .tab-bar{
    position: absolute;
    left: 60px;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #38365D;
    transition: 0.5s all ease;
    z-index: 2;
    overflow: hidden;
}

.tab-bar > .inner-tab-bar{
    width: 100%;
    height: 100%;
}

.inner-tab-bar > .inner-tab-bar-top{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #1e1e48;
}

.inner-tab-bar-top > h2{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.inner-tab-bar > .inner-tab-bar-body{
    width: 100%;
    height: calc(100% - 135px);
}

.inner-tab-bar > .inner-tab-bar-bottom{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inner-tab-bar-bottom > a{
    text-decoration: none;
    background-color: #fff;
    color: #1e1e48;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.3s all ease-in-out;
}

.inner-tab-bar-bottom > a:hover{
    background-color: #fd1a64;
    box-shadow: 0px 0px 15px #fd1a64;
    color: #fff;
}